.service {
    padding-top: 0;
  }
  .service__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-title);
    margin-bottom: 50px;
    text-align: center;
  }
  .service__list {
    display: flex;
    gap: var(--indent);
  }
  .service__items {
    position: relative;
  }
  .service__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
  }